@charset "utf-8";
/* CSS Document */

body {margin: 0px; padding: 0px; text-align: center; background-color: #FAFAFA; font-family: "Gill Sans MT", "Myriad Pro", Tahoma, Helvetica, sans-serif; font-size: 12px; line-height: 20px;}
h1,h2,h3,h4,h5,h6 {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
div.clear {clear: both; height: 0px;}

#container {width: 950px; text-align: left; margin: 50px auto;}
#header {margin-bottom: 50px; border-top: 20px #113 solid; border-bottom: 1px black solid; padding-bottom: 15px;}
#body {}
#footer {background-color: #555; padding: 30px; color: #BBB; margin-top: 50px;}

div#title {float: left;}
div#subtitle {float: right; text-align: right;}

h2.title_bar {padding: 4px 8px; font-size: 0.8em; text-transform: uppercase; background-color: #EEE; border-color: #BBB; border-width: 1px 0px; border-style: solid;}
div.content {margin-left: 200px;}
div.gallery img {vertical-align: middle; margin: 10px;}

div#qTip {padding: 3px;border: 1px outset #666;display: none;background: #888;color: #FFF;font: bold 9px Verdana, Arial, sans-serif;text-align: left;position: absolute;z-index: 1000;}

.form {margin: 25px;}
.form div.label {width: 100px; text-align: right; float:left; margin-right: 10px;}
.form input, .form select, .form textarea {float: left; width: 250px;}
.form .clear {height: 5px;}